.navbar {
  position: fixed;
  margin-top: -10px;
  left: 0;
  width: 100%;
  background-color: #e5e5e5;
  z-index: 100000;
}
.navbar > ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar > ul > li > a {
  text-decoration: none;
  transition: all 0.5s;
  color: #000;
}

.navbar > ul > li {
  margin-left: 5%;
}

.link > a:hover {
  transition: all 0.5s;
  color: #e57c23;
}

.logout {
  display: none;
}

.menu-wrapper {
  display: none;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.show {
  display: none;
}

.res-menu {
  background: #e5e5e5;
  z-index: 1000000;
  height: 100vh;
}

.res-link {
  text-decoration: none;
  list-style: none;
  text-align: center;
}

.res-link > a {
  text-decoration: none;
  color: #000;
  line-height: 4em;
  text-align: center;
}

@media screen and (max-width: 820px) {
  .menu-wrapper {
    display: flex;
  }

  .navbar > ul {
    display: flex;
    justify-content: space-between;
  }

  .link {
    display: none;
  }
}
