---
import Layout from "../layouts/Layout.astro";

import "../static/css/Globals.css";
import "../static/css/Home.css";
import "animate.css";
---

<Layout title="Bienvenido">
	<main class="container home-container">
		<section class="home-section">
			<article>
				<img
					class="home-img animate__animated animate__fadeInLeft"
					src="/public/burger-removebg-preview.png"
					alt="burger image"
				/>
			</article>
			<article class="home-a1 animate__animated animate__fadeInRight">
				<div>
					<h1 class="home-title">
						Lorem <span>ipsum dolor</span>, sit <span>amet</span> consectetur
					</h1>
				</div>
				<div class="home-a2">
					<p>
						Lorem, ipsum dolor sit amet consectetur adipisicing
						elit. Doloremque reiciendis, amet, fugiat sunt
						architecto similique saepe alias qui corporis cumque
						quisquam quos consequatur. At sint earum beatae odit
						magnam quo!
					</p>
					<button class="btn btn-order">Haz tu pedido</button>
					<button class="btn btn-ubication">Nuestra ubicacion</button>
				</div>
			</article>
		</section>
	</main>
</Layout>
