---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nosotros">
    <main class="container">
        <section>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
                maxime odio consequuntur, modi et tempora adipisci, incidunt hic
                veritatis molestias culpa iure facere recusandae est
                voluptatibus nostrum quod voluptatum libero. Perferendis,
                incidunt. Reiciendis dolorem voluptate laboriosam ab libero nam,
                impedit voluptatum, illo quas asperiores sint eius odit illum
                quod corrupti sunt sit architecto ipsam mollitia officia
                repellat nihil. Voluptatem, exercitationem? Excepturi
                praesentium similique saepe dolorem, dolores pariatur sit quidem
                enim, fugit consectetur quae itaque. Sit, deleniti sequi
                eligendi minima animi saepe eaque modi aut aspernatur. Eveniet
                quisquam voluptas incidunt labore. Perspiciatis autem quis
                neque, illo illum nobis sapiente architecto quod molestiae cum
                reiciendis quo laborum nesciunt facilis ut corrupti! Incidunt
                fugiat odit earum illo, quae vitae dolore voluptas perspiciatis
                rerum. Ab distinctio natus nisi necessitatibus, exercitationem
                minus fuga magni saepe! Nihil consequatur sunt impedit quam?
                Nostrum excepturi aperiam optio? Harum, fugiat nihil in earum
                enim modi nemo rem ab perspiciatis.
            </p>
        </section>
    </main>
</Layout>
