---
import "../static/css/Globals.css";
import "../static/css/User.css";

import Layout from "../layouts/Layout.astro";

import "animate.css";
---

<script src="../static/ts/user.ts"></script>

<Layout title="Mi cuenta">
    <main class="container">
        <section style="margin-top: 10%;">
            <header>
                <h2>
                    Bienvenido
                    <span
                        class="animate__animated animate__fadeIn"
                        style="color: var(--primary);"
                        id="userName"></span>
                </h2>
            </header>
            <div class="user-info animate__animated animate__fadeIn">
                <div class="user-reservations">
                    <div class="title">
                        <h4>Reservaciones</h4>
                        <div
                            class="user-reservations-list"
                            id="userReservationList"
                        >
                        </div>
                    </div>
                </div>
                <div class="user-orders">
                    <h4>Pedidos</h4>
                    <div class="user-orders-list" id="userOrderList"></div>
                </div>
            </div>
        </section>
    </main>
</Layout>
<style></style>
