---
import "../static/css/Nav.css";

import "animate.css";
---

<script src="../static/ts/navbar.ts"></script>

<div class="navbar">
    <ul>
        <li class="logo">
            <a href="/">
                <img src="/public/logo.svg" alt="" />
            </a>
        </li>
        <li class="link">
            <a href="/">Inicio</a>
        </li>
        <li class="link">
            <a href="menu">Menu</a>
        </li>
        <li class="link">
            <a href="us">Nosotros</a>
        </li>
        <li class="link">
            <a href="order">Pide Online</a>
        </li>
        <li class="link">
            <a href="reservation">Reserva Online</a>
        </li>
        <li
            class="link animate__animated animate__fadeIn"
            style="display: none;"
            id="myAccount"
        >
            <a href="user">Mi cuenta</a>
        </li>
        <li class="link" id="navSession">
            <a href="login" style="display:none;" id="loginAncle"
                >Inicia Sesion</a
            >
            <a href="login" style="display:none;" id="logoutAncle"
                >Cerrar Sesion</a
            >
        </li>
    </ul>
</div>
